<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>
<% if @card.user == current_user %>
	<%= link_to 'Edit', edit_card_path(@card) %> |
<% end %>
<%= link_to 'Back', cards_path %>
