//Stylesheet for cards
#masonary-cards {
  margin: 0 auto;
}

.box {
	background-color: #FFFFFF;

}

.panel-ontime {
  border-color: #84DCC6;
  border-width: 5px;
}

.panel-delayed {
  border-color: #FFA69E;
  border-width: 5px;
}

.panel-box-ontime {
	background-color: #84DCC6;
	border-color: #84DCC6;
	padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
}

.panel-box-delayed {
	background-color: #FFA69E;
	border-color: #FFA69E;
	padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
}

.panel-body {
  padding-top: 0px;
}